<div class="container">
  <div class="row">
    
     <% @mains.each do |main| %>
      <div class="col-sm-5 padding">
        <div class="archive">
          <a href="mains/<%= main.id %>">
           <img src="<%= main.file1 %>">
          </a>
          <p class="title"><%= main.title %></p>
          <p class="name">by.<%= main.name %>　at.<%= main.created_at.to_s(:datetime_jp) %></p>	
        </div>
      </div>
    <% end %>
  
  </div>
</div>
