<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @main.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @main.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @main.text %>
</p>

<p>
  <strong>File1:</strong>
  <%= @main.file1 %>
</p>

<p>
  <strong>File2:</strong>
  <%= @main.file2 %>
</p>

<p>
  <strong>File3:</strong>
  <%= @main.file3 %>
</p>

<p>
  <strong>File4:</strong>
  <%= @main.file4 %>
</p>

<%= link_to 'Edit', edit_main_path(@main) %> |
<%= link_to 'Back', mains_path %>
