<!DOCTYPE html>
<html>
  <head>
    <title>DS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <script>
    $(function(){
      $(".alert").fadeOut(4000);
    });
    
    
    //マウスオーバーで表示
    $(function() {
          $('#slideR').hover(
          function(){
            $(this).animate({'marginRight':'140px'},500);
          },
          function () {
            $(this).animate({'marginRight':'0'},500);
          }
        );
    });
    
  </script>
</head>

  <body>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>
    
    
  <div class="menu">
    <p><strong>DS project</strong></p>
    <ul>
      <li>
        <%= link_to '資料を投稿', new_main_path, class: 'nav-link' %>
      </li>
      <li>　</li>
      <li>
        <%= link_to '資料一覧', mains_path, class: 'nav-link' %>
      </li>
      <li>　</li>
      <li>
        <%= link_to '使い方', welcomes_howto_path, class: 'nav-link' %>
      </li>
    </ul>
    </div>
  
  
  </body>
</html>